---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html { font-size: $fontSize }

body {
  color: #d9d9d9;
  font: 1rem $helvetica;
  background: #2f2f2f;
  overflow-y: scroll;
  height: 100vh; // <- importante para posicionar footer

  @include small { font-size: 0.8rem }
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: #d9d9d9;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.8rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
  color: #e1e1e1;
}

p {
  margin: 1rem 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  height: $headerHeight;
  margin-bottom: 50px;
  border-bottom: 1px #2f2f2f solid;
  background-color: #437c90; //rgb(87,180,175);
  position: sticky;
  top: 0; // necesario para `position: sticky`
  
  * { color: #d9d9d9; }

  @include mobile {
    position: initial;
  }
}

.masthead {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.site-info { flex-wrap: nowrap }

.site-name {
  display: inline-block;
  flex-wrap: nowrap;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

.site-description {
  display: inline-block;
}

nav {
  align-self: center; // vertical align in flexbox
  font-family: $helveticaNeue;

  @include mobile { display: block }

  a {
    
    padding: 10px 0;
    margin-left: 20px;
    color: rgb(71, 66, 66);
    font-weight: 300;
    letter-spacing: 1px;
    display: inline-block;

    @include mobile {
      margin: 0 10px;
    }

    &:hover { color: white }

    &.active {
      text-decoration-line: underline;
      color: white;
    }
  }
}

//
// .main
//

#main {
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(260px, max-content) minmax(min-content, 800px);
  grid-gap: 30px;
  min-height: calc(100vh - calc($headerHeight - calc($footerHeight - 100px))); // <- wrappers de header y footer aplican 50 de margen cada uno

  @include small {
    display: block;

    #side-menu { display: none }
  }
}

ul.posts-list {
  border-right: 1px solid $lightGray;
  padding: 0px;
  list-style-type: none;
  
  li {
    line-height: 1.2em;

    a { color: $gray }
    a:hover { 
      color: white;
      text-decoration-line: underline;

      small { color: $lightGray }
    }

    small {
      color: $gray;
      font-size: 0.8em;
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  height: $footerHeight;
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "portfolio";